<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SBU_Campus_Tab.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C142DD061BF11558006A6295</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C142DD1C1BF11559006A6295</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C142DD271BF11559006A6295</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
